<body>
  <mat-sidenav-container class="sidenav-container">
    <mat-nav-list class="list-container">
      <span mat-list-item>
        <button mat-button color="primary" class="button-class">Option 1</button>
      </span>
      <span mat-list-item>
        <button mat-button color="primary" class="button-class">Option 2</button>
      </span>
      <span mat-list-item>
        <button mat-button color="primary" class="button-class">Option 3</button>
      </span>
      <span spanmat-list-item>
        <button mat-button color="primary" class="button-class">Option 4</button>
      </span>
    </mat-nav-list>
  </mat-sidenav-container>
</body>
