<div class="searchbar-standalone">
  <form>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="searchTerm" name="searchInput">
    </mat-form-field>
  </form>
  <span class="spacer"></span>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <mat-select [(ngModel)]="searchFilter" name="searchFilter" required>
      <mat-option value="0">No Filters</mat-option>
      <mat-option value="1">Starts With</mat-option>
      <mat-option value="2">Ends With</mat-option>
      <mat-option value="3">Is Equal</mat-option>
      <mat-option value="4">Include</mat-option>
    </mat-select>
  </mat-form-field>
  <span class="spacer"></span>
  <div class="search-button-container">
    <button mat-stroked-button color="secondary" class="search-button" (click)="onSearch()">
      <mat-icon class="search-icon">search</mat-icon>
    </button>
  </div>
</div>
