.card{
  border-radius: 25px;
  width: 750px;
  margin-bottom: 50px;
}

.card-header{
  align-self: center;
  text-align: center;
  padding-bottom: 10px;
}

.product-image{
  width: 500px;
  align-self: center;
}

.card-content{
  align-self: center;
  padding-top: 10px;
  text-align: center;
}
